:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 24px;
}

div {
  text-align: center;
}

h1 {
  text-align: center;
  vertical-align: middle;
}

.guide-link {
  position: absolute;
}

a:hover {
  color: blue;
  transform: scale(1.1);
}

h2 {
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 12px;
  padding: 12px;
}

img, video {
  width: 80vw;
  max-width: 500px;
  max-height: 500px;
}